
<div ng-controller="resultDetailsController" class="resultDetails">

    <div class="resultsTable col-md-4">
        <table class="resultDetails">
            <thead>
                <tr>
                    <th>Godzina pomiaru</th>
                    <th>Wartość</th>
                </tr>
            </thead>
            <tr ng-repeat="key in resultsData">
                <td>{{ key | date:"HH:mm:ss"}}</td>
                <td>{{ resultsDataAll[key] }}</td>
            </tr>
        </table>
    </div>

    <div class="chart col-md-8">
        <canvas id="line" height="70" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-series="series" chart-options="options"
                chart-dataset-override="datasetOverride" chart-colors="colors">
        </canvas>
    </div>

    <div class="chart col-md-12">
        <ul uib-pagination items-per-page="10" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>
    </div>
</div>