
<link rel="stylesheet" href="css/userDetails.css">

<div ng-controller="userDetailsController">
    <div ng-show="userUpdateSucess" class="alert alert-success">
        Pomyślnie zakutalizowano!
    </div>
    <div ng-show="userUpdateSucess == false" class="alert alert-danger">
        Wystąpił błąd!
    </div>
    <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" heading="Użytkownik">
            <form name="userDetailsForm" ng-submit="updateUser()">
                <div class="col-md-6 userPhoto">
                    <img id="userDetailsAvatar" src="data:image/png;base64,{{ userUpdate.image }}">

                    <input ng-if="myProfile || isAdmin" type="file" name="file" id="file" class="fileInput" ng-model="value" onchange="angular.element(this).scope().previewFile()"/>
                    <label ng-if="myProfile || isAdmin" for="file">Wybierz plik</label>
                </div>
                <div class="col-md-6 userDetails">

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Imię</span>
                        <input ng-disabled="!myProfile && !isAdmin" type="text" class="form-control" value="{{ userUpdate.name }}" aria-describedby="basic-addon1" ng-model="userUpdate.name" required>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">Nazwisko</span>
                        <input ng-disabled="!myProfile && !isAdmin" type="text" class="form-control" value="{{ userUpdate.surname }}" aria-describedby="basic-addon2" ng-model="userUpdate.surname" required>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">Email</span>
                        <input ng-disabled="!myProfile && !isAdmin" type="text" class="form-control" value="{{ userUpdate.email }}" aria-describedby="basic-addon3" ng-model="userUpdate.email" required>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon4">Hasło</span>
                        <input ng-disabled="!myProfile && !isAdmin" type="password" class="form-control" value="{{ userUpdate.password }}" aria-describedby="basic-addon4" ng-model="userUpdate.password" required>
                    </div>

                    <button ng-if="myProfile || isAdmin" type="submit" class="btn btn-default">Zapisz</button>
                </div>

                <div class="hospitals col-md-12">
                    <p><i class="fa fa-home" aria-hidden="true"></i> {{user.hospital.name}}</p>
                    <p>{{user.hospital.city}}, {{user.hospital.adress}} {{user.hospital.passCode}} </p>
                </div>
            </form>

            <div ng-show ="isDoctor && !myProfile" class="user-results col-md-12">
                <a href="#/results/{{ user.id }}/{{RESULT_TYPES.pressure}}"><i class="fa fa-bar-chart" aria-hidden="true"></i> Ciśnienie </a>

                <a href="#/results/{{ user.id }}/{{RESULT_TYPES.temperature}}"><i class="fa fa-thermometer-empty" aria-hidden="true"></i> Temperatura </a>

                <a href="#/results/{{ user.id }}/{{RESULT_TYPES.pulse}}"><i class="fa fa-heart" aria-hidden="true"></i> Tętno </a>
            </div>
        </uib-tab>
        <uib-tab ng-if="isAdmin && !myProfile" index="1" heading="Konfiguracja">
            <form name="configFrom" ng-submit="updateConfig()" class="col-md-12 config-form">
                <div class="col-md-12">

                    <div class="input-group col-md-5">
                        <span class="input-group-addon" id="basic-addon5">Interwał ciśnienia</span>
                        <input ng-disabled="!myProfile && !isAdmin" type="number" class="form-control" aria-describedby="basic-addon5" ng-model="userConfig.pressure_interval" required>
                    </div>

                    <div class="input-group col-md-5 counter">
                        <span class="input-group-addon" id="basic-addon6">Ilość pomiarów ciśnienia</span>
                        <input ng-disabled="!myProfile && !isAdmin" type="number" class="form-control" aria-describedby="basic-addon6" ng-model="userConfig.pressure_counter" required>
                    </div>

                    <div class="input-group col-md-5">
                        <span class="input-group-addon" id="basic-addon7">Interwał pulsu</span>
                        <input ng-disabled="!myProfile && !isAdmin" type="number" class="form-control" aria-describedby="basic-addon7" ng-model="userConfig.pulse_interval" required>
                    </div>

                    <div class="input-group col-md-5 counter">
                        <span class="input-group-addon" id="basic-addon8">Ilość pomiarów pulsu</span>
                        <input ng-disabled="!myProfile && !isAdmin" type="number" class="form-control" aria-describedby="basic-addon8" ng-model="userConfig.pulse_counter" required>
                    </div>

                    <div class="input-group col-md-5">
                        <span class="input-group-addon" id="basic-addon9">Interwał temperatury</span>
                        <input ng-disabled="!myProfile && !isAdmin" type="number" class="form-control" aria-describedby="basic-addon9" ng-model="userConfig.temperature_interval" required>
                    </div>

                    <div class="input-group col-md-5 counter">
                        <span class="input-group-addon" id="basic-addon10">Ilość pomiarów temperatury</span>
                        <input ng-disabled="!myProfile && !isAdmin" type="number" class="form-control" aria-describedby="basic-addon10" ng-model="userConfig.temperature_counter" required>
                    </div>

                    <div class="col-md-12">
                        <button ng-if="isAdmin" type="submit" class="btn btn-default">Zapisz</button>
                    </div>
                </div>
            </form>
        </uib-tab>
    </uib-tabset>
</div>




