@CHARSET "UTF-8";
body {
    background-color: #2B3033;
}

div.container-admin {
    background-color: #ffffff;
    height: 500px;
    margin: 10% 3% 10% 3%;
    z-index: 0;
}

div.logged-header {
    padding: 2%;
    height: 70px;
}

div.logged-header ul{
    margin: 0;
    padding: 0;
}

div.logged-header ul li{
    display: inline;
}
