div.adminHome {

}

div.adminHome div.home-info {
    height: 275px;
    padding: 55px;
}

div.adminHome div.statistic {
    padding: 135px 150px;
}

div.adminHome div.statistic div {
    height: 100px;
    float: none;
    margin: 10px auto;
    color: #fff;
    padding: 30px 20px;
    border-radius: 5px;
}

div.adminHome div.statistic div i {
    margin-right: 15px;
}

div.adminHome div.statistic div.users {
    background-color: #EFAD4D;
}

div.adminHome div.statistic div.results {
    background-color: #D95350;
}

