.container-fluid.top-menu {
    background-color: #1B2024;
    height: 70px;
    padding-top: 15px;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.top-menu .navbar-header .navbar-toggle {
    z-index: 10001;
    color: #fff;
    border-color: #58a554;
}

.top-menu .icon-bar {
    background-color: #58a554;
}

.container-fluid.top-menu ul.nav {
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    float: right;
}

.container-fluid.top-menu ul.nav li{
    float: left;
}

.container-fluid.top-menu ul.nav li a{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.container-fluid.top-menu ul.nav li a:hover{
    color: #58a554;
    background-color: transparent;
}

@media (max-width:767px) {
    .container-fluid.top-menu {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-collapse {
        padding-right: 0px;
        padding-left: 0px;
        overflow-y: hidden;
        background-color: #1b2024;
        box-shadow: none;
    }

    .navbar-collapse.in {
        overflow-y: hidden;
    }

    .container-fluid.top-menu ul.nav {
        margin: 0;
        margin-left: 40px;
        float: left;
    }

    .container-fluid.top-menu ul.nav li {
        width: 100%;
    }
}