div.userPhoto img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: block;
    margin: 0 auto;
}

div.userDetails {
    padding: 35px;
}

form {
    text-align: center;
}

form input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

form .fileInput + label {
    background-color: #58a554;
    color: #fff;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    line-height: 1.428571429;
    margin-top: 50px;
}

form .fileInput:focus + label,
form .fileInput + label:hover {
    background-color: #64b160;
}

div.userDetails div.input-group {
    margin-bottom: 10px;
}

div.userDetails button {
    background-color: #58a554;
    color: #fff;
    margin-top: 40px;
}

div.userDetails button:hover, div.userDetails button:active, div.userDetails button:focus {
    background-color: #64b160;
    color: #fff;
}

div.userDetails .form-control:focus {
    border-color: #58a554;
}

div.userDetails .input-group {
    width: 100%;
}

div.userDetails span.input-group-addon {
    width: 35%;
}

div.hospitals {
    text-align: center;
    margin-top: 25px;
}

div.hospitals .pagination > li > a {
    color: #ccc;
}

div.hospitals .pagination .active a{
    background-color: #58a554;
    border-color: #ccc;
}

div.user-results {
    text-align: center;
    margin-top: 30px;
}

div.user-results a {
    color: #fff;
    padding: 20px 20px;
    border-radius: 5px;
    margin: 0px 5%;
}

div.user-results a:hover {
    text-decoration: none;
}

div.user-results a:nth-child(1) {
    background-color: #EFAD4D;
}

div.user-results a:nth-child(2) {
    background-color: #418BCA;
}

div.user-results a:nth-child(3) {
    background-color: #D95350;
}
